<f:if condition="{info.feUser.uid} > 0">
	<div class="typo3-adminPanel-row">
		<div class="typo3-adminPanel-col col-4">
			<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:feuserName"/>
		</div>
		<div class="typo3-adminPanel-col col-8">
			{info.feUser.username}
		</div>
	</div>
	<div class="typo3-adminPanel-row">
		<div class="typo3-adminPanel-col col-4">
			<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:feuserId"/>
		</div>
		<div class="typo3-adminPanel-col col-8">
			{info.feUser.uid}
		</div>
	</div>
</f:if>
