<f:if condition="{info.imagesOnPage.total} > 0">
	<dl class="typo3-adminPanel-dl">
		<dt>
			<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:imagesOnPage"/>
		</dt>
		<dd>
			{info.imagesOnPage.total}
		</dd>

		<f:for each="{info.imagesOnPage.files}" as="file">
			<dt>{file.name}</dt>
			<dd>{file.sizeHuman}</dd>
		</f:for>

		<dt>
			<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:imagesSize"/>
		</dt>
		<dd>{info.imagesOnPage.totalSize}</dd>
	</dl>
</f:if>
