<f:if condition="{info.imagesOnPage.total} > 0">
	<div class="typo3-adminPanel-row">
		<div class="typo3-adminPanel-col col-4">
			<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:imagesOnPage"/>
		</div>
		<div class="typo3-adminPanel-col col-8">
			{info.imagesOnPage.total}
		</div>
	</div>

	<f:for each="{info.imagesOnPage.files}" as="file">
		<div class="typo3-adminPanel-row">
			<div class="typo3-adminPanel-col col-4">
				{file.name}
			</div>
			<div class="typo3-adminPanel-col col-8">
				{file.sizeHuman}
			</div>
		</div>
	</f:for>

	<div class="typo3-adminPanel-row">
		<div class="typo3-adminPanel-col col-4">
			<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:imagesSize"/>
		</div>
		<div class="typo3-adminPanel-col col-8">
			{info.imagesOnPage.totalSize}
		</div>
	</div>
</f:if>
