<div class="typo3-adminPanel-row">
	<div class="typo3-adminPanel-col col-4">
		<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:pageUid"/>
	</div>
	<div class="typo3-adminPanel-col col-8">
		{info.pageUid}
	</div>
</div>
<div class="typo3-adminPanel-row">
	<div class="typo3-adminPanel-col col-4">
		<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:pageType"/>
	</div>
	<div class="typo3-adminPanel-col col-8">
		{info.pageType}
	</div>
</div>
