<div class="typo3-adminPanel-module-content-settings-check">
	<input type="hidden" name="TSFE_ADMIN_PANEL[tsdebug_displayMessages]" value="0"/>
	<input type="checkbox"
				 id="tsdebug_displayMessages"
				 name="TSFE_ADMIN_PANEL[tsdebug_displayMessages]"
				 value="1"
				 class="typo3-adminPanel-module-content-settings-check-input"
				 {f:if(condition:'{display.messages}', then:' checked="checked"')} />
	<label for="tsdebug_displayMessages" class="typo3-adminPanel-module-content-settings-check-label">
		<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_tsdebug.xlf:displayMessages"/>
	</label>
</div>
