<div class="typo3-adminPanel-module-content-settings-check">
	<input type="hidden" name="TSFE_ADMIN_PANEL[tsdebug_forceTemplateParsing]" value="0"/>
	<input type="checkbox"
				 id="tsdebug_forceTemplateParsing"
				 name="TSFE_ADMIN_PANEL[tsdebug_forceTemplateParsing]"
				 value="1"
				 class="typo3-adminPanel-module-content-settings-check-input"
				 {f:if(condition:'{forceTemplateParsing}', then:' checked="checked"')} />
	<label for="tsdebug_forceTemplateParsing" class="typo3-adminPanel-module-content-settings-check-label">
		<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_tsdebug.xlf:forceTemplateParsing"/>
	</label>
</div>
