<h3 class="typo3-adminPanel-h3">PHP</h3>

<div class="typo3-adminPanel-row">
	<div class="typo3-adminPanel-col col-4 col-sm-12 col-header">
		PHP Version
	</div>
	<div class="typo3-adminPanel-col col-8 col-sm-12">
		{phpVersion}
	</div>
</div>
<div class="typo3-adminPanel-row">
	<div class="typo3-adminPanel-col col-4 col-sm-12 col-header">
		PHP Uname
	</div>
	<div class="typo3-adminPanel-col col-8 col-sm-12">
		{phpUname}
	</div>
</div>
<div class="typo3-adminPanel-row">
	<div class="typo3-adminPanel-col col-4 col-sm-12 col-header">
		PHP SAPI
	</div>
	<div class="typo3-adminPanel-col col-8 col-sm-12">
		{phpSapi}
	</div>
</div>
<div class="typo3-adminPanel-row">
	<div class="typo3-adminPanel-col col-4 col-sm-12 col-header">
		Peak Memory Usage
	</div>
	<div class="typo3-adminPanel-col col-8 col-sm-12">
		<f:format.bytes>{phpMem}</f:format.bytes>
	</div>
</div>

<h4 class="typo3-adminPanel-h3">Constants</h4>
<f:for each="{constants.user}" as="constant" key="constName">
	<div class="typo3-adminPanel-row">
		<div class="typo3-adminPanel-col col-4 col-sm-12 col-header">
			{constName}
		</div>
		<div class="typo3-adminPanel-col col-8 col-sm-12">
			{constant}
		</div>
	</div>
</f:for>

<h4 class="typo3-adminPanel-h3">Extensions</h4>
{loadedExtensions}
