<div class="typo3-adminPanel-form-group typo3-adminPanel-form-group-checkbox">
	<input type="hidden" name="TSFE_ADMIN_PANEL[preview_showHiddenRecords]" value="0"/>
	<input type="checkbox"
				 id="preview_showHiddenRecords"
				 name="TSFE_ADMIN_PANEL[preview_showHiddenRecords]"
				 value="1"
				 class="typo3-adminPanel-form-check-input"
				 {f:if(condition: '{showHiddenRecords}', then:'checked="checked"')}
	/>
	<label for="preview_showHiddenRecords" class="typo3-adminPanel-form-check-label">
		<f:translate
			key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_preview.xlf:showHiddenRecords"/>
	</label>
</div>
