<div class="typo3-adminPanel-row typo3-adminPanel-row-header">
	<div class="typo3-adminPanel-col col-4">
		<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:key"/>
	</div>
	<div class="typo3-adminPanel-col col-8">
		<f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:value"/>
	</div>
</div>

<f:if condition="{info.noCache}">
	<f:render partial="Modules/Info/ImagesOnPage" arguments="{_all}" debug="false"/>
	<f:render partial="Modules/Info/DocumentSize" arguments="{_all}" debug="false"/>
</f:if>
<f:render partial="Modules/Info/Page" arguments="{_all}" debug="false"/>
<f:render partial="Modules/Info/FeUserGroupList" arguments="{_all}" debug="false"/>
<f:render partial="Modules/Info/PageCache" arguments="{_all}" debug="false"/>
<f:render partial="Modules/Info/UserIntObjects" arguments="{_all}" debug="false"/>
<f:render partial="Modules/Info/FrontendUser" arguments="{_all}" debug="false"/>
<f:render partial="Modules/Info/TotalParsetime" arguments="{_all}" debug="false"/>

